@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"); /*work sans font add*/
.work-sans {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.border {
  border: 1px solid black;
}
.flex {
  display: flex;
}
/* navbar styles */
.header_part,
.container {
  max-width: 1440px;
  margin: 0px auto;
}
#header {
  background-color: rgba(255, 144, 14, 0.1);
}
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 10px auto;
}
.brading {
  font-size: 2.5rem;
}
.all_links {
  align-items: center;
}
.all_links li {
  list-style: none;
  margin-right: 40px;
}
.all_links li a {
  text-decoration: none;
  color: #424242;
  font-size: 1.2rem;
  font-weight: 500;
}
/* banner desgin  */
.banner {
  padding-bottom: 48px;
}
.banner_text {
  width: 862px;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 50px;
}
.banner_text .banner_title {
  font-size: 4rem;
  font-weight: 700;
}
.banner_text .banner_discription {
  font-size: 1rem;
  font-weight: 400;
  color: #727272;
  margin-bottom: 30px;
}
.banner_text .btn {
  background: #ff900e;
  border: none;
  border-radius: 8px;
  padding: 20px 20px;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
}
.banner_img img {
  width: 100%;
}
/* main section desgin  */
main {
}
main > section {
  margin-top: 130px;
}
.teams_image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.teams_image img {
  width: 342px;
  height: 342px;
}
.teams {
  align-items: center;
}
.teams_feauters {
  margin-left: 130px;
  width: 530px;
}
.teams_feauters .team_title #quick_list {
  color: #727272;
  font-size: 2.7rem;
  font-weight: 700;
}
.teams_feauters .team_title #of_the {
  color: #131313;
  font-size: 2.7rem;
  font-weight: 700;
}
.teams_feauters .team_title #features {
  color: #ff900e;
  font-family: "Work Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.teams_feauters .team_discription {
  color: #727272;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.teams_feauters .btn {
  background: #ff900e;
  border: none;
  border-radius: 8px;
  padding: 20px 20px;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
}
/* love part desgin  */
.l-r {
  justify-content: space-between;
  gap: 100px;
  align-items: center;
}
.tilte {
  width: 470px;
}
.highlight-text{
  border-left: 5px solid #ff900e ;
  padding-left:20px ;
}
.tilte h2 {
  font-size: 2.9rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.tilte p {
  color: var(--Dark-03, #727272);
  font-family: "Work Sans";
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  text-align: justify;
}
.title_card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.t_card {
  width: 590px;
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 8px;
  outline: none;
  box-shadow: 1px 1px 7px #3d3939;
}
.t_card h3 {
  color: var(--Dark-01, #131313);
  font-family: "Work Sans";
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.t_card p {
  color: var(--Dark-03, #727272);
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.right img {
  width: 100%;
  
}
#badge{
  padding: 30px 70px;
  background: #ff900e;
  border: none;
  border-radius: 8px;
  margin-left: -50px;
  margin-top: -100px;
  font: 1.25rem;
  font-weight: 500;
}
#badgetitle{
  color: #FFF;
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 107.692% */
}
#badgetitle2{
  color: #FFF;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
/* facts desgin starts  */
.facts_tilte {
  margin-bottom: 70px;
}
.facts_tilte h2 {
  width: 300px;
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.facts_tilte p {
  width: 550px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-top: 10px;
}
.facts_card {
  justify-content: space-evenly;
}
.card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 20px 25px;
}
.card {
  width: 230px;
  height: 230px;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card img {
}
.card h3 {
  font-size: 2.7rem;
  font-weight: 600;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #727272;
  margin-top: 0px;
}
/* sponser desgin strats  */
.sponser_info {
  width: 530px;
  margin: 30px auto;
  text-align: center;
  margin-bottom: 30px;
}
.sponser_img {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponser_img img {
  filter: grayscale(100%);
}
#footer {
  margin-top: 130px;
}
.last_part {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 30px;
}
.last_part h2 {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
